@media (min-width: 1200px){.container {width:1024px;}}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{padding-left:10px;padding-right:10px}
.row{margin:0 -10px}
*{margin:0;padding:0}
p{margin:0}
.header1{padding:17px 20px 40px 20px;background-color:#f8f8f8}
.header1 .item p{font-family:Tahoma;}
.header1 .item:nth-child(2){padding-left:67px;}
.header1 .item:nth-child(3){padding-left:62px;}
.header1 .item:nth-child(2) p:first-child{color:#759e51;font-size:24px;line-height:26px;}
.header1 .item:nth-child(2) p:last-child{font-size:16px;line-height:26px;}
.header1 .item:nth-child(3) p{font-size:18px;line-height:29px;}
.header1 .item:nth-child(4){padding-left:35px;}
.header1 .item:nth-child(4) button{color:white;font-size:16px;line-height:29px;border:solid #9dcc6f 2px;border-radius:30px;width:200px;height:50px;background-color:#9dcc6f;text-align:center}
.header2{box-shadow: 0 -1px 0 0 #dbdbdb,0 1px 0 0 #dbdbdb;background-color:#f8f8f8;padding:22px 20px;}
.header2 ul{list-style-type:none;margin:0}
.header2 ul li{display:inline;padding:0 27px}
.header2 ul li:first-child{padding-left:0}
.header2 ul li a{font-family:Tahoma;font-size:16px;line-height:26px;color:black;text-decoration:none}
.block1{background-color:#f8f8f8;padding:21px 20px;}
.block1 .left .carousel-indicators{bottom:0;}
.block1 .left .carousel-indicators .active{background-color:#9dcc6f;border: 1px solid #9dcc6f;}
.block1 .left .carousel-indicators li{background-color:white;border: 1px solid white;}
.block1 .left .carousel-caption{background-color:#a1ce75;right:20%;left:20px;bottom:107px;width:345px;height:160px;padding:32px 45px;}
.block1 .left .carousel-caption p{font-family:'Myriad Pro';font-weight:normal;font-style:normal;}
.block1 .left .carousel-caption p:first-child{font-size:20px;line-height:25px;}
.block1 .left .carousel-caption p:last-child{font-size:32px;line-height:25px;padding-top:15px;}
.block1 .right{background-color:#4a4a4a;width:calc(33.333333% - 20px);text-align:center;padding-top:20px;margin-left:10px;}
.block1 .right p{color:#9dcc6f;font-family:'Tahoma';font-size:16px;line-height:24px;}
.block1 .right input{height:38px;width:275px;text-indent:5px;margin:12px 0;}
.block1 .right input:last-child{height:65px;padding-bottom:30px;}
.block1 .right button{color:white;font-size:16px;line-height:22px;border:solid #9dcc6f 2px;border-radius:30px;width:275px;height:40px;background-color:#9dcc6f;text-align:center;margin-bottom:24px;}
.block2{padding-top:20px;padding-bottom:15px;}
.block2 span{font-family:'Tahoma';font-size:14px;line-height:44px;color:#4a4a4a;vertical-align:middle;padding:0 33px;}
.block2 span:first-child{padding-left:40px;}
.block3{background:#f8f8f8;background:linear-gradient(to bottom, #f8f8f8 0%, white 50%);padding:20px 20px 50px 20px;}
.block3 .left{background-color:#9dcc6f;text-align:center;position:relative;padding-top:12px}
.block3 .left .item{position:absolute;top:42px;right:155px;}
.block3 .left .item p{color:white;}
.block3 .left .item p:first-child{font-family:'Tahoma';font-size:42px;line-height:25px;}
.block3 .left .item p:last-child{font-family:'Tahoma';font-size:16px;line-height:25px;padding-top:10px;}


.block3 .left .pg{background:url("../images/pg.png");width:40px;height:40px;display:inline-block;}
.block3 .left .pg span{}



.block3 .right{margin-top:-10px;}
.block3 .right .item img{width:100%;}
.block3 .right .item{position:relative;padding:10px;}
.block3 .right .item p{position:absolute;right:25%;bottom:20px;font-family:'Tahoma';font-size:16px;line-height:22px;color:white;}
.block4{background:#f8f8f8;padding-bottom:60px;}
.block4 .top{text-align:center;padding:50px 150px;}
.block4 .top p:first-child{font-family:'Myriad Pro';font-size:24px;line-height:25px;padding-bottom:15px;}
.block4 .top p:last-child{font-family:'Tahoma';font-size:16px;line-height:24px;}
.block4 .bottom{padding:0 20px;}
.block4 .bottom .tabs{display:inline-block;}
.block4 .bottom .tabs ul{margin:0px;padding:0px;}
.block4 .bottom .tabs ul:after{content:"";display:block;clear:both;height:5px;background:#9dcc6f;}
.block4 .bottom .tabs ul li{cursor:pointer;display:block;float:left;padding:10px 43px;color:#999999;font-family:'Tahoma';font-size:16px;line-height:20px;}
.block4 .bottom .tabs ul li:first-child{padding-left:38px}
.block4 .bottom .tabs ul li.active, .tabs ul li.active:hover{background:#9dcc6f;color:white;}
.block4 .bottom .tabs ul li:hover{background:#d6d6d7;}
.block4 .bottom .row{margin:0}
.block4 .bottom .left{background-color:#3d3d3d;padding:15px 30px 30px 15px}
.block4 .bottom .left .comments h5{font-family:'Myriad Pro';font-size:20px;line-height:27px;color:#9dcc6f;}
.block4 .bottom .left .comments h5 span{display:block;font-family:'Myriad Pro';font-size:14px;line-height:20px;color:#999999;}
.block4 .bottom .left .comments p{font-family:'Myriad Pro';font-size:15px;line-height:20px;color:white;}
.block4 .bottom .left .comments p span{display:block;font-family:'Myriad Pro';font-size:12px;line-height:20px;color:#719a4e;}
.block4 .bottom .right{background-color:#4a4a4a;padding:15px 15px 61px 15px}
.block4 .bottom .right img{width:100%;}
.block4 .bottom .right button:nth-child(2){background-color:#9dcc6f;color:white;font-family:'Tahoma';font-size:16px;line-height:20px;text-align:center;border:none;width:210px;height:45px;float:left;margin-top:15px;}
.block4 .bottom .right button:nth-child(3){background-color:white;color:#999999;font-family:'Tahoma';font-size:16px;line-height:20px;text-align:center;border:none;width:210px;height:45px;float:right;margin-top:15px;}
.block4 .bottom .carousel-indicators{position:absolute;bottom:-55px;left:50%;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:center;list-style:none;}
.block4 .bottom .carousel-indicators li{background-color:#999999;}
.block4 .bottom .carousel-indicators .active{background-color:#9dcc6f}
.block5{padding:45px 20px 95px 20px;}
.block5{width:100%}
.block5 h6:first-child{font-family:'Myriad Pro';font-size:28px;line-height:42px;color:#666666}
.block5 h6{font-family:'Myriad Pro';font-size:18px;line-height:49px;color:#666666;margin:0}
.block5 p{font-family:'Tahoma';font-size:14px;line-height:21px;margin:0}
.block6{padding:0 20px 45px 20px;}
.block6 img{width:100%}
footer{}
footer .container{padding:40px 25px 0 25px;background:#f8f8f8;}
footer img{width:100%}
footer .top{padding-bottom:10px}
footer .bottom{padding-top:10px;}
footer .carousel-indicators{bottom:-50px;}
footer .carousel-indicators li{background:#cbd1d0}
footer .carousel-indicators .active{background:#9dcc6f}
footer .col-md-3{margin-left:100px;position:relative;padding-bottom:20px}
footer .fr2{position:absolute;top:45px;right:60px;}
footer .fr2 p:first-child{font-family:'Tahoma';font-size:25px;line-height:33px;color:#759e51;display:inline-block;vertical-align:top}
footer .fr2 p:last-child{font-family:'Tahoma';font-size:12px;line-height:18px;color:#666666;display:inline-block}
footer .col-md-12{padding:10px 10px;box-shadow: inset 0 1px 0 0 #dbdbdb;}
footer span{font-family:'Tahoma';font-size:12px;line-height:37px;}
footer span:last-child{float:right}

